[submodule "yesod-paginator"]
	path = yesod-paginator
	url = git@github.com:pbrisbin/yesod-paginator
[submodule "yesod-markdown"]
	path = yesod-markdown
	url = git@github.com:pbrisbin/yesod-markdown
[submodule "gravatar"]
	path = gravatar
	url = git@github.com:pbrisbin/gravatar
[submodule "friendly-time"]
	path = friendly-time
	url = git@github.com:pbrisbin/friendly-time
[submodule "yesod-links"]
	path = yesod-links
	url = git@github.com:pbrisbin/yesod-links
